# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de build
dist/
dist-ssr/
*.log

# Arquivos de ambiente sensíveis
.env
.env.local
.env.development
.env.production

# Arquivos temporários
.DS_Store
*.swp
*.bak
*.tmp

# Configurações de IDE
.vscode/
.idea/

# Arquivos de cache do Vite
.vite/
.cache/

# Arquivos de cobertura de teste
coverage/