# Arquivos e diretórios gerados pelo Docker
*.log
docker-compose.override.yml

# Volumes do Docker
redis-data/
rabbitmq-data/

# Arquivos de ambiente sensíveis
.env
.env.local
.env.development
.env.production

# Arquivos temporários e de cache
.DS_Store
*.swp
*.bak
*.tmp

# Diretórios de configuração local
.vscode/
.idea/

# Arquivos de log do npm
npm-debug.log