# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de build
dist/
*.log

# Banco de dados local
database.sqlite

# Arquivos de ambiente sensíveis
.env
.env.local
.env.development
.env.production

# Arquivos temporários
.DS_Store
*.swp
*.bak
*.tmp

# Configurações de IDE
.vscode/
.idea/

# Arquivos de cobertura de teste
coverage/

# Arquivos de cache do NestJS
.cache/